<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class='login-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <table class="login-form">
          <tr>
            <th class="page-heading">ユーザーログイン / Login</th>
          </tr>
          <tr>
            <th><span class="indispensable">*</span>メールアドレス / Emai</th>
            <td><%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %></td>
          </tr>
          <tr>
            <th><span class="indispensable">*</span>パスワード / Password</th>
            <td><%= f.password_field :password, class:"input-default", id:"password", placeholder:"" %></td>
          </tr>
        </table>
        <div class='login'>
          <%= f.submit "ログイン" ,class:"login-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>