<div class="items-sell-contents">
  <header class="items-sell-header">
  </header>
  <div class="items-sell-main">
    <%= form_with model: @item, url: item_path, method: :patch, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>
    <table class="new-item-post">
      <tr>
        <th class="items-sell-title">作品の情報を入力</th>
      </tr>
      <tr>
        <th><span class="indispensable"> *</span>作品画像</th>
        <td class="click-upload"><%= f.file_field :image, id:"item-image" %></td>
      </tr>
      <tr>
        <th><span class="indispensable"> *</span>作品名</th>
        <td><%= f.text_area :item_name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %></td>
      </tr>
      <tr>
        <th><span class="indispensable"> *</span>コンセプト</th>
        <td><%= f.text_area :concept, class:"items-text", id:"item-info", placeholder:"コンセプト（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %></td>
      </tr>
      <tr>
        <th><span class="indispensable"> *</span>素材</th>
        <td><%= f.text_area :material, class:"items-text", id:"item-info", placeholder:"素材（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %></td>
      </tr>
      <tr>
        <th><span class="indispensable"> *</span>カテゴリー</th>
        <td><%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %></td>
      </tr>
      <tr>
        <th><span class="indispensable"> *</span>価格</th>
        <td>
          <div class="price-content">
            <span class="sell-yen"></span>
            <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
          </div>
        </td>
      </tr>
    </table>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "編集する" ,class:"sell-btn" %>
      <%=link_to 'もどる', item_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
</div>